.basket {
  width: 25%;
  position: absolute;
  right: 0;

  .btn {
    width: 100%
  }
}

.basket__list {
  list-style: none;
  padding: 0;
}

.basket__item {
  display: flex;
  justify-content: space-between;
}

.basket__delete-btn {
  &:hover {
    cursor: pointer;
    color: #808080;
  }
}
